.completed {
    text-decoration: line-through;
}

.todoContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

/* CheckBox input */
.checkBox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: solid 1px #8c8c8c;
    margin: 0;
}

/* Task */
.myTask {
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1c1c1c;
    margin: 0;
    margin-left: 8px;
    display: flex;
}

.myTask:first-letter {
    text-transform: capitalize;
}
/* Delete Button */
.myTask img {
    display: none;
    margin-left: 8px;
}

.myTask:hover img {
    display: inline-block;
}

.todoContainer img {
    padding: 0;
}
