.listContainer {
    margin-top: 64px;
    margin-left: 64px;
}

.myTodos {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #1c1c1c;
}